.intro-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    z-index:2;
}

.left-container {
    display: flex;
    flex-direction: row; 
    align-items: flex-end; 
    justify-content: flex-start; 
    text-align: center;
    position: absolute; 
    left: 20px; 
    bottom: 70px;
    z-index:2; 
}

#voice-icon {
    width: 62px;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    position: absolute;
    top: -20px;
}

#voice-icon:hover {
    transform: scale(1.1);
}

.game-title {
    color: #FFD700;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    
    text-shadow:
        6px 6px 0px #000, /* Camada principal (sombra preta) */
        -2px -2px 0px #555, /* Detalhe superior (leve sombra cinza) */
        2px -2px 0px #555, /* Detalhe superior */
        -2px 2px 0px #555, /* Detalhe inferior */
        2px 2px 0px #555; /* Detalhe inferior */
    
    margin-top: -20px;
    margin-bottom: -30px;
    line-height: 1.2;
}

.flow {
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px); /* Sobe um pouco */
    }
    100% {
        transform: translateY(0px);
    }
}

.sub-title {
    font-family: Courier New;
    color: black;
}

h1 {
    font-size: 3.4rem;
}

h5 {
    font-size: 2rem;   
}
h6 {
    font-size: 1.5rem;
}


.menu-options {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espaçamento entre as opções */
    margin-top: 15px;
    text-align: center;
    z-index:2;
}

.menu-button {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5rem;
    color: #FFD700;
    cursor: pointer;
    text-shadow:
        3px 3px 0px black,
        -2px -2px 0px #555, 
        2px -2px 0px #555, 
        -2px 2px 0px #555, 
        2px 2px 0px #555;
    transition: 0.2s ease-in-out;
}

.menu-button:hover {
    color: #FFEE00; 
    transform: scale(1.1); 
}

.menu-button:active {
    transform: scale(0.95);
}
