html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.background-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.background-slide {
    flex: 1;
    height: 100%;
    background: url('../assets/images/background-blur.jpg') no-repeat center center;
    background-size: cover;
    background-position: center;
    position: relative;
}

.logo-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centraliza a logo */
    z-index: 10; /* Garante que a logo fique sobre o fundo */
}

.logo-container img {
    width: 850px; /* Ajuste o tamanho conforme necessário */
    height: auto;
    animation: fadeIn 1.5s ease-in-out; /* Efeito suave de aparição */
}




