.logo-container {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centraliza a logo */
    z-index: 10; /* Garante que a logo fique sobre o fundo */
}

.logo-container img {
    width: 1050px; /* Ajuste o tamanho conforme necessário */
    height: auto;
}

.button-container {
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centraliza a logo */
    z-index: 10; /* Garante que a logo fique sobre o fundo */
}

.play-button {
    background: url('../assets/images/jogar-button.jpg') no-repeat center center;
    background-size: cover;
    width: 200px; /* Ajuste o tamanho conforme necessário */
    height: 95px;
    border: none;
    cursor: pointer;
}
.continue-container {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centraliza a logo */
    z-index: 10; /* Garante que a logo fique sobre o fundo */
}

.continue-button {
    background: url('../assets/images/continuar.png') no-repeat center center;
    background-size: cover;
    width: 295px; /* Ajuste o tamanho conforme necessário */
    height: 95px;
    border: none;
    cursor: pointer;
}

.help-container {
    position: absolute;
    top: 85%;
    left: 5%;
    transform: translate(-50%, -50%); /* Centraliza a logo */
    z-index: 10; /* Garante que a logo fique sobre o fundo */
}

.help-button {
    background: url('../assets/images/help-button.jpg') no-repeat center center;
    background-size: cover;
    width: 100px; /* Ajuste o tamanho conforme necessário */
    height: 95px;
    border: none;
    cursor: pointer;
}