html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Press Start 2P', cursive;
}

.background-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    top:0;
    left:0;
    overflow: hidden;
}

.background-slide {
    width: 100%;
    height: 100%;
    background: url('../assets/images/background-new.jpg') no-repeat center center;
    background-size: cover;
    background-position: center;
    position: relative;
}


h1 {
    font-size: 24px;
    margin: 0px;
    padding: 30px;
    color: white;
    text-align: center;
    text-shadow:
    4px 4px 0px #000, /* Camada principal (sombra preta) */
    -2px -2px 0px #000, /* Detalhe superior (leve sombra cinza) */
    2px -2px 0px #000, /* Detalhe superior */
    -2px 2px 0px #000, /* Detalhe inferior */
    2px 2px 0px #000; /* Detalhe inferior */
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

.button {
    background-color: white;
    width: clamp(200px,30vw,280px);
    height: clamp(180px,28vw,260px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: clamp(5px,1.5vw,5px);
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: clamp(0.8rem, 2vw, 0.8rem);
    border-radius: 15px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.button img {
    width: 95%;
    height: 80%;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.button:hover {
    transform: translateY(-5px);
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 768px) {
    .button {
        width: clamp(200px, 35vw, 240px);
        height: clamp(160px, 25vw, 220px);
        font-size: clamp(0.1rem, 2.5vw, 0.7rem);
    }

    .button img {
        width: 90%;
        max-height: 70%;
    }
}

@media screen and (max-width: 480px) {
    .button {
        width: clamp(230px, 40vw, 240px);
        height: clamp(160px, 22vw, 180px);
        font-size: clamp(0.2rem, 3vw, 0.8rem);
    }

    .button img {
        width: 90%;
        max-height: 65%;
    }
}