.container {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centraliza a logo */
    z-index: 10; /* Garante que a logo fique sobre o fundo */
}

.container img {
    width: 200px; /* Ajuste o tamanho conforme necessário */
    height: auto;
}

.pt-container {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centraliza a logo */
    z-index: 10; /* Garante que a logo fique sobre o fundo */
}

.pt-button {
    background: url('../assets/images/pt.png') no-repeat center center;
    background-size: cover;
    width: 295px; /* Ajuste o tamanho conforme necessário */
    height: 95px;
    border: none;
    cursor: pointer;
}

.en-container {
    position: absolute;
    top: 65%;
    left: 49.7%;
    transform: translate(-50%, -50%); /* Centraliza a logo */
    z-index: 10; /* Garante que a logo fique sobre o fundo */
}

.en-button {
    background: url('../assets/images/en.png') no-repeat center center;
    background-size: cover;
    width: 275px; /* Ajuste o tamanho conforme necessário */
    height: 95px;
    border: none;
    cursor: pointer;
}