html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Press Start 2P', cursive;
}

.background-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    top:0;
    left:0;
    overflow: hidden;
}

.background-slide {
    width: 100%;
    height: 100%;
    background: url('../assets/images/background-2.jpg') no-repeat center center;
    background-size: cover;
    background-position: center;
    position: relative;
}

@media (max-width: 768px) {
    .background-slide {
        background-size: cover;
        background-position: center;
    }
    body {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .background-slide {
        background-size: cover;
        background-position: center;
    }
    body {
        font-size: 10px;
    }
}

.container {
    flex-wrap: wrap;
    gap: 40px;
    max-width: 800px;
    margin: auto;
    padding: 70px;
}

.board {
    background-color: rgba(255, 255, 255, 0.5);
    width: 50vw;
    max-width: 900px;
    height: 60vh;
    max-height: 500px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    border-radius: 15px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 480px) {
    .board {
        width: 45vw;
        height: 35vh;
    }
}

h1 {
    font-size: clamp(16px, 5vw, 20px);;
    margin: 0px;
    padding: clamp(10px, 3vw, 30px);
    color: white;
    text-align: center;
    text-shadow:
    4px 4px 0px #000, /* Camada principal (sombra preta) */
    -2px -2px 0px #000, /* Detalhe superior (leve sombra cinza) */
    2px -2px 0px #000, /* Detalhe superior */
    -2px 2px 0px #000, /* Detalhe inferior */
    2px 2px 0px #000; /* Detalhe inferior */
}

@media screen and (max-width: 600px) {
    .h1 {
        font-size: clamp(5px, 5vw, 12px);
        padding: clamp(5px, 6vw, 30px);
    }
}

@media screen and (max-width: 480px) {
    .h1 {
        font-size: clamp(3px, 5vw, 8px);
        padding: clamp(5px, 6vw, 30px);
    }
}

.button-container {
    display: flex; 
    flex-direction: column;
    gap: clamp(10px, 4vw, 40px);
    width: 15vw;
    height: 10vh;
    margin: auto;
}


@media screen and (max-width: 600px) {
    .button-container {
        flex-direction: column; 
        align-items: center; 
        gap: 15px; 
    }
}

.pixel-button {
    font-family: 'Courier New', Courier, monospace;
    font-size: clamp(14px, 2.5vw, 20px);
    background-color: #FFA500;
    color: black;
    border: 4px solid black;
    border-radius: clamp(10px, 3vw, 20px);
    padding: clamp(10px, 5vw, 50px) clamp(10px, 10vw, 30px); /*altura largura*/
    text-align: center;
    
    cursor: pointer;
    box-shadow: 4px 4px 0px black;
    transition: all 0.1s ease-in-out;
    text-decoration: none;
}

.pixel-button:active {
    box-shadow: 2px 2px 0px black;
    transform: translate(2px, 2px);
}

.pixel-button:hover {
    background-color: #FFB733;
    transform: scale(1.05);
    box-shadow: 6px 6px 0px black;
}

@media screen and (max-width: 480px) {
    .pixel-button {
        font-size: clamp(12px, 4vw, 16px);
        padding: clamp(5px, 6vw, 30px) clamp(10px, 6vw, 60px);
    }
}

.container-jogadores {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-jogadores h1 {
    align-items: start;     
    margin-bottom: 50px;
}

input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #333;
    border-radius: 5px;
    text-align: center;
    width: 250px;
    margin: 10px 0;
}

.play-button {
    font-family: 'Press Start 2P', cursive;
    font-size: clamp(14px, 2.5vw, 20px);
    background-color: #FFA500;
    color: black;
    border: 4px solid black;
    border-radius: clamp(10px, 3vw, 20px);
    padding: clamp(10px, 5vw, 20px) clamp(10px, 10vw, 30px); /*altura largura*/
    text-align: center;
    
    cursor: pointer;
    box-shadow: 4px 4px 0px black;
    transition: all 0.1s ease-in-out;
    text-decoration: none;
}

.play-button:active {
    box-shadow: 2px 2px 0px black;
    transform: translate(2px, 2px);
}

.play-button:hover {
    background-color: #FFB733;
    transform: scale(1.05);
    box-shadow: 6px 6px 0px black;
}

.container-jogadores .play-button {
    margin-top: 50px;
}

.play-button-1 {
    font-family: 'Press Start 2P', cursive;
    font-size: clamp(14px, 2.5vw, 20px);
    background-color: #FFA500;
    color: black;
    border: 4px solid black;
    border-radius: clamp(10px, 3vw, 20px);
    padding: clamp(10px, 5vw, 20px) clamp(10px, 10vw, 30px); /*altura largura*/
    text-align: center;
    
    cursor: pointer;
    box-shadow: 4px 4px 0px black;
    transition: all 0.1s ease-in-out;
    text-decoration: none;
}

.play-button-1:active {
    box-shadow: 2px 2px 0px black;
    transform: translate(2px, 2px);
}

.play-button-1:hover {
    background-color: #FFB733;
    transform: scale(1.05);
    box-shadow: 6px 6px 0px black;
}

.container-jogadores .play-button-1 {
    margin-top: 50px;
}

.scores {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 100px;
    flex-wrap: wrap;
}

.score {
    font-size: 6em;
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
    padding: 90px 50px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    min-width: 150px;
}

@media (max-width: 1150px) {
    .scores {
        margin-top: 80px;
        flex-direction: column;
        align-items: center;
    }
    .score {
        font-size: 4em;
        padding: 40px 20px;
    }
}

@media (max-width: 768px) {
    .scores {
        margin-top: 80px;
        flex-direction: column;
        align-items: center;
    }
    .score {
        font-size: 4em;
        padding: 40px 20px;
    }
}

.end-container {
    display: flex; 
    flex-direction: column;
    gap: clamp(10px, 4vw, 40px);
    width: 15vw;
    height: 10vh;
    margin: 25vh auto 0 auto;
}

.bottom {
    background-color: transparent;
    margin-top: -0.5em;
    padding: 2em;
    position: fixed; 
    left: 50%;
    transform:translateX(-50%);
    bottom: 0;
}

.center-text {
    justify-content: center; /* eixo x*/
    align-items: flex-end;
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 10vh;
}
